@import "variables";
:host {
  width: 100%;
  height: 100%;

  .landing-container {
    position: relative;
    width: 100%;
  }

  .container {
    height: 100vh;
    overflow-y: hidden;
  }

  .landing-cover-left {
    padding: 4rem;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    vertical-align: middle;
    justify-content: center;
    object-fit: cover;
    animation: fadeIn .5s ease-in forwards;
  }

  .landing-cover-right {
    padding: 4rem 2rem 2rem;
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    line-height: 4rem;
    font-style: italic;
    animation: fadeIn 2s ease-in forwards;
    border-left: 1px solid white;
  }

  .cover-image-text-container {
    position: absolute;
    top: var(---header-height);
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30%;
  }

  .landing-cover {
    z-index: map-get($overlays, componentBackround);
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100vh;
  }
}
