<div *ngIf="isDesktop" class="container">
  <img class="landing-cover" src="assets/cover/landing/frostwind-desktop.png" />
  <div class="cover-image-text-container">
    <div class="landing-cover-left">Left Column</div>
    <div class="landing-cover-right">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula
      iaculis eros ac vehicula. Etiam et ligula id nisi euismod consequat
      commodo ac sapien. Curabitur lacinia, elit at fermentum sodales, lorem
      orci finibus enim, in pulvinar odio dolor a neque. Duis dignissim dui nec
      viverra lacinia. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. Aenean augue leo, vehicula sit amet
      nulla ac, cursus luctus enim. Aenean sagittis consectetur faucibus.
      Aliquam vitae odio rhoncus, placerat erat at, tristique massa. Vestibulum
      tincidunt mi vel augue finibus tempus. Maecenas eget feugiat dolor.
      Praesent eu mauris erat. Fusce eu justo id purus pharetra vehicula. Aenean
      euismod, nibh non porta pretium, neque est cursus lacus, ut rhoncus ipsum
      sapien non sem. Ut at tincidunt felis. Proin lobortis laoreet feugiat.
      Nulla facilisi. Proin at ex semper, vehicula felis vel, ultrices ligula.
      Aenean aliquet lacinia dapibus. Nulla at ex tempus, molestie augue nec,
      porttitor orci. Phasellus dapibus efficitur vestibulum. Pellentesque ac
      odio id purus hendrerit luctus eu in erat. Morbi dapibus luctus mauris,
      non sodales dolor consequat sed. Donec tempus sollicitudin ipsum, sit amet
      interdum leo fringilla auctor. Pellentesque sed nunc dolor. Donec in ipsum
      volutpat, tristique odio vitae, euismod ante. Donec nec porttitor ligula.
      Donec dui turpis, lobortis eget metus sit amet, mattis interdum nulla.
      Nullam quis pharetra dolor, vitae ultrices mauris. Quisque vehicula sapien
      et mi tincidunt tempor. Sed egestas eget lectus tincidunt imperdiet. Ut a
      ex augue.
    </div>
  </div>
</div>
