@import "variables";
:host {
  width: 100%;
  height: 100%;
  .landing-cover {
    z-index: map-get($overlays, componentBackround);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 960px;
  }
}

@keyframes appearIn {
  0% {
    opacity: 0.75;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
