/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Lato, sans-serif;
}

:root {
  ---header-height: 6.5rem;
}

.header-offset {
  padding-top: var(---header-height);
}
